<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgVENWzWeq3Pl8_Ba4yA_fD55u4BTMomc</string>
	<key>GCM_SENDER_ID</key>
	<string>572056529252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsAppChatgpt</string>
	<key>PROJECT_ID</key>
	<string>news-app-chatgpt</string>
	<key>STORAGE_BUCKET</key>
	<string>news-app-chatgpt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572056529252:ios:7f4385574d30a80fef3271</string>
</dict>
</plist>